.cta-workout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.cta-workout-title {
    margin-bottom: 6rem;
    text-align: center;
}


.workouts {
    display: grid;
    gap: 60px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.cta-workout-button {
    margin-top: 4rem;
}



@media screen and (min-width: 750px) {
    .workouts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1150px) {
    .workouts {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1150px) {
    .cta-workout-title {
        margin-bottom: 4rem;
    }

    .cta-workout-button {
        margin-top: 3rem;
    }

}


@media screen and (max-width: 750px) {

    .cta-workout-title {
        margin-bottom: 2rem;
    }
    
    .cta-workout-button {
        margin-top: 2rem;
    }

    .workouts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}
